 body{
   margin: 0;
   padding: 0;
 } 
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .navbar{ */
  /* height: 20%;
  width: 60%;
  border: 2px solid green;
  position: sticky;
}
ul{
  display: flex; 
  justify-content: space-around;
  list-style: none;
}*/
/* .conatian{
  height: 90vh;
  width: screen;
  background-color: blue;
  display: flex;
} 
.myimg{ */
  /* width: 35%;
  height: 100%; */
  /* background-color: black; */
  /* background-image: url(images/BGIMG1.png); */
  /* background-size: cover;
  background-repeat: no-repeat;
} */


/* .header{
  background-color:rebeccapurple;
}
#about{
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
}

#experiance{  
  height: 100vh;
  width: 100%;
  border :2px solid red;
background-color: chartreuse;
}
#education{
  height: 90vh;
  width: 100%;

}
#skills{
  height: 90vh;
  width: 100%;
  border: 1px solid red;

}
#contact{
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
  border: 1px solid red;
}
#projects{
  height: 90vh;
  width: 100%;
  border: 1px solid red;
}
.navbar{
  position: fixed;
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid black;
  background-color: transparent;
}

 */
